/* You can add global styles to this file, and also import other style files */

/* /* src/styles.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

h1, h2 {
  color: #2c3e50;
}

container {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* src/app/app.css */
nav {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s;
}

nav a:hover {
  background-color: #e8f0fe;
  color: #1a73e8;
}

/* Style pour le lien actif */
.active {
  color: #1a73e8;
  border-bottom: 2px solid #1a73e8;
}

/* user-form.css */
form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c; /* Rouge si erreur */
}

button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: #ccc;
}

/* user-card.css */
.card {
  background: white;
  border-left: 5px solid #1a73e8;
  margin: 10px 0;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.btn-delete {
  background-color: #fee2e2;
  color: #dc2626;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}